In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Attempt 1: Get ADP data from myfantasyleague.com dev site
- +JSON is organized
- +Easily accessed
- -too much info only really need QB, RB, WR, TE, and D/ST

In [16]:
response = requests.get('http://football.myfantasyleague.com/2010/export?TYPE=adp&L=&W=&JSON=1')
data = response.json()
data = data['adp']['player']
adp=pd.DataFrame(data)
print adp.head()

  averagePick draftsSelectedIn     id maxPick minPick
0        3.35            12777  11192     201       1
1        5.32            13097  11201     203       1
2        5.41            13309   8658     191       1
3        5.73            13108   9988     172       1
4        6.00            13230   9054     187       1

In [5]:
response = requests.get('http://football.myfantasyleague.com/2010/export?TYPE=players&L=&W=&JSON=1')
data = response.json()
data = data['players']['player']
players=pd.DataFrame(data)
print players

         id                   name position status team
0      0151         Bills, Buffalo     TMWR    NaN  BUF
1      0152    Colts, Indianapolis     TMWR    NaN  IND
2      0153        Dolphins, Miami     TMWR    NaN  MIA
3      0154  Patriots, New England     TMWR    NaN  NEP
4      0155         Jets, New York     TMWR    NaN  NYJ
5      0156    Bengals, Cincinnati     TMWR    NaN  CIN
6      0157      Browns, Cleveland     TMWR    NaN  CLE
7      0158      Titans, Tennessee     TMWR    NaN  TEN
8      0159  Jaguars, Jacksonville     TMWR    NaN  JAC
9      0160   Steelers, Pittsburgh     TMWR    NaN  PIT
10     0161        Broncos, Denver     TMWR    NaN  DEN
11     0162    Chiefs, Kansas City     TMWR    NaN  KCC
12     0163       Raiders, Oakland     TMWR    NaN  OAK
13     0164    Chargers, San Diego     TMWR    NaN  SDC
14     0165      Seahawks, Seattle     TMWR    NaN  SEA
15     0166        Cowboys, Dallas     TMWR    NaN  DAL
16     0167       Giants, New York     TMWR    NaN  NYG
17     0168   Eagles, Philadelphia     TMWR    NaN  PHI
18     0169     Cardinals, Arizona     TMWR    NaN  ARI
19     0170   Redskins, Washington     TMWR    NaN  WAS
20     0171         Bears, Chicago     TMWR    NaN  CHI
21     0172         Lions, Detroit     TMWR    NaN  DET
22     0173     Packers, Green Bay     TMWR    NaN  GBP
23     0174     Vikings, Minnesota     TMWR    NaN  MIN
24     0175  Buccaneers, Tampa Bay     TMWR    NaN  TBB
25     0176       Falcons, Atlanta     TMWR    NaN  ATL
26     0177     Panthers, Carolina     TMWR    NaN  CAR
27     0178        Rams, St. Louis     TMWR    NaN  STL
28     0179    Saints, New Orleans     TMWR    NaN  NOS
29     0180   49ers, San Francisco     TMWR    NaN  SFO
...     ...                    ...      ...    ...  ...
2509  12522        Patterson, Eric       CB      R  STL
2510  12523        Coleman, Justin       CB      R  NEP
2511  12524       Washington, Tony       WR    NaN  JAC
2512  12525            Thomas, Joe       LB    NaN  GBP
2513  12529          Peters, Brian       LB    NaN  HOU
2514  12530          Delaire, Ryan       DE      R  CAR
2515  12532              Tye, Will       TE      R  NYG
2516  12536          Irving, David       DT      R  DAL
2517  12539          Campbell, Dan    Coach    NaN  MIA
2518  12541           Dye, Donteea       WR      R  TBB
2519  12542          King, Brandon        S      R  NEP
2520  12544      Everett, Deshazor       CB      R  WAS
2521  12545        McDonald, Tevin        S    NaN  OAK
2522  12547     Anderson, Jonathan       LB      R  CHI
2523  12549         Brooks, Cariel       CB      R   FA
2524  12554    Adjei-Barimah, Jude       CB      R  TBB
2525  12558          Morris, James       LB    NaN  NYG
2526  12561             Bray, Quan       WR      R  IND
2527  12563         Longacre, Matt       DE      R  STL
2528  12566        Johnson, Isaiah        S      R  DET
2529  12569       Turzilli, Andrew       WR      R  TEN
2530  12570          Glenn, Jacoby       CB      R  CHI
2531  12571           Smith, Kevin       WR    NaN  SEA
2532  12572        Thompson, Dylan       QB      R  SFO
2533  12576          Jacobs, Chuck       WR    NaN   FA
2534  12577       Krause, Jonathan       WR    NaN  PHI
2535  12585          Brown, Daniel       WR      R  BAL
2536  12586       Jennings, Darius       WR      R   FA
2537  12587       Lawrence, Rashad       WR    NaN   FA
2538  12589             Hill, Troy       CB      R  CIN

[2539 rows x 5 columns]

## Get weekly performance stats starting with 2010
- only has top scorers. scrubs and bye week players do not show up
- easily scraped and cleaned

In [2]:
def get_DF_from_table(season, week):
    url = 'http://www.thehuddle.com/stats/%s/plays_weekly.php?week=%s&pos=qb&col=FPTS&ccs=1' % (season, week)
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    if not soup:
        print season
        print week
        pass
    data = soup.table
    head = data.thead.find_all('th')[5:]

    headers = []
    for th in head:
        colname = th.a.text.strip()
        headers.append(colname)

    rows = data.tbody.find_all('tr')
    body = []
    for r in rows:
        cells = r.find_all('td')
        cur_row = []
        for c in cells:
            cell = c.text.strip()
            cur_row.append(cell)
        body.append(cur_row)
    df2 = pd.DataFrame(body, columns = headers)
    df2['SEASON'] = season
    df2['WEEK'] = week
    return df2

seasons = ['2010', '2011', '2012', '2013', '2014', '2015']
weeks = ['1','2', '3', '4', '5', '6', '7','8','9','10','11','12','13','14','15','16']
frames =[]
for s in seasons:
    for w in weeks:
        frames.append(get_DF_from_table(s, w))
        
result = pd.concat(frames)

print result.shape

(3544, 15)

In [129]:
result = result.reset_index(drop=True)

,PLAYER,NFL,PLAYS,FPTS,RUN,RYD,RTD,PASS,CMP,PYDS,PTD,FUM,INT,SEASON,WEEK,Fullname
3539,Tarvaris Jackson,SEA,1,-0,1,-1,0,0,0,0,0,0,0,2015,15,"Jackson, Tarvaris"
3540,Trevor Siemian,DEN,1,-0,1,-1,0,0,0,0,0,0,0,2015,15,"Siemian, Trevor"
3541,Kellen Clemens,SD,1,-0,1,-1,0,0,0,0,0,0,0,2015,15,"Clemens, Kellen"
3542,Chase Daniel,KC,2,-0,2,-2,0,0,0,0,0,0,0,2015,15,"Daniel, Chase"
3543,Drew Stanton,ARI,3,-0,2,-2,0,1,0,0,0,0,0,2015,15,"Stanton, Drew"

In [162]:
def convert_name_to_lastname_first(name):
    split = name.split(" ")
    converted_name = split[1] +", "+split[0]
    return converted_name
def get_adp(name, season):
    player_adp = adp_df[(adp_df['Fullname'] == name)& (adp_df['Season'] == season)]
    if player_adp.empty:
        return None
    return player_adp.iloc[0]['Avg. Pick']

In [164]:
adp_df = pd.read_csv('nfl adp - Sheet7.csv')
adp_df['Fullname'] = adp_df['Lastname'] + " " + adp_df['FirstName']

In [163]:
result['Fullname'] = result['PLAYER'].apply(convert_name_to_lastname_first)

adps = []
i = 0
while i < result.shape[0]:
    adps.append(get_adp(result['Fullname'][i], int(result['SEASON'][i])))
    i = i +1
result["ADP"] = adps
print result.head()

           PLAYER  NFL PLAYS FPTS RUN RYD RTD PASS CMP PYDS PTD FUM INT  \
0  Peyton Manning  IND    57   34   0   0   0   57  40  433   3   0   0
1      Jay Cutler  CHI    40   29   5  22   0   35  23  372   2   1   1
2   Carson Palmer  CIN    54   26   4   9   0   50  34  345   2   0   1
3     Eli Manning  NYG    34   25   4  -2   0   30  20  263   3   0   3
4       Tom Brady   NE    35   25   0   0   0   35  25  258   3   0   0

  SEASON WEEK         Fullname    ADP
0   2010    1  Manning, Peyton  12.27
1   2010    1      Cutler, Jay  73.34
2   2010    1   Palmer, Carson  79.79
3   2010    1     Manning, Eli  81.71
4   2010    1       Brady, Tom  20.01